/* teachers general */
#teachers {
    background-color: rgb(182, 36, 50);
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: Calibri;
}
.left {
    padding-left: 3%;
}
.right{
    padding-right: 3%;
}

/* teacher images */ 
article>.col-4 {
    background-color: white;
    padding-bottom: 5%;
    text-align: center;
}

.teacher_images {
    object-fit:contain;
    height: 80vh;
    width: 30vw;
    margin-top: 5%;
}

/* teacher text */
aside {
    margin-top: 5%;
    color: white;
}

.left aside {
    margin-left: 45%;
    margin-right: 10%;
}
.right aside {
    margin-left: 5%;
}

aside>img {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 50%;
}

aside>div {
    font-size: 28px;
    font-weight: bold;
}

aside li {
    font-size: 24px;
    text-align: justify;
}