/* teachers general */
#teachers {
    background-color: rgb(182, 36, 50);
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: Calibri;
    padding-right: 5%;
}
.left {
    padding-left: 3%;
}
.right{
    padding-right: 3%;
}

/* teacher images */ 
article>.col-4 {
    padding-bottom: 5%;
    text-align: center;
}

.teacher_images {
    object-fit:contain;
    height: 80vh;
    width: 30vw;
    margin-top: 5%;
}

.right_pic {
    text-align: right;
}

/* teacher text */
aside {
    margin-top: 5%;
    color: white;
}

.left aside {
    margin-left: 10%;
    margin-right: 10%;
}
.right aside {
    margin-left: 5%;
    margin-right: 5%;
}

aside>img {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 50%;
}

aside>div {
    font-size: 28px;
    font-weight: bold;
}

aside li {
    font-size: 24px;
    text-align: justify;
}

@media (max-width: 991.98px) { 
    .teacher_images {
        width: 40vw;
    }
}

@media (max-width: 767.98px) {
    aside>div {
        font-size: 24px;
    }
    
    aside li {
        font-size: 20px;
    }
}

@media (max-width: 575.98px) {
    #teachers {
        padding-right: 12%;
    }
    .teacher_images {
        width: 70vw;
    }
    .right {
        flex-direction: column-reverse;
    }
    
}

@media (max-width: 575.98px) {
    #teachers {
        padding-right: 14%;
    }
}