

#button_box {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
}


#button_box>a, #button_box>button{
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 100%;
    border: none;
}

#button_box img {
    max-width: 64px;
}

#callOptionsBox {
    display: none;
    position: absolute;
    right: 85px;
    bottom: -25px;
    width: max-content;
}

.callOptions {
    display: block;
    background-color: white;
    border-style: solid;
    border-color: turquoise;
    border-radius: 10%;
    border-width: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.callOptions:hover {
    color: black;
    background-color: aqua;
}

body {
    scroll-behavior: smooth;
}

@media (max-width: 996px) {
    .callOptions {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    #button_box img {
        max-width: 56px;
    }
}

@media (max-width: 450px) {
    .callOptions {
        font-size: 16px;
    }

    #button_box img {
        max-width: 48px;
    }
}