#events {
    background-color: rgb(255, 255, 255);
    padding-top: 3%;
    padding-bottom: 5%;
    font-family: Calibri;
    font-size: 24px;
}

#events > p{
    font-size: 40px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
    position: relative;
    left: 5vw;
}

#events > article {
    text-align: center;
}

#events img {
    height: 60vh;
}

#events .carousel-indicators {
    display: none;
}
#events .carousel-control-prev, #events .carousel-control-next {
    display: flex;
    align-items: center;
}

#events .tab-pane {
    text-align: center;
    margin-top: 5vh;
}

@media (max-width: 767.98px) {
    #events {
        font-size: 20px;
    }
    #events #tab_content {
        padding-right: 10%;
    }

    #events img {
        max-width: 71.5vw;
        max-height: 38.5vw;
    }
    #events > p {
        font-size: 32px;
    }
}

@media (max-width: 575.98px) {
    #events #tab_content {
        padding-right: 20%;
    }

    #events > p {
        font-size: 24px;
    }
    #events {
        font-size: 16px;
    }
    #events img {
        max-width: 97.5vw;
        max-height: 52.5vw;
    }
}