#events {
    background-color: rgb(217, 217, 217);
    padding-top: 3%;
    padding-bottom: 5%;
    font-family: Calibri;
    font-size: 24px;
}

#events > p{
    font-size: 40px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
    position: relative;
    left: 5vw;
}

#events > article {
    text-align: center;
}

#events .carousel-control-next {
    left: 70vw;
}

#events .carousel-control-prev {
    left: 15vw;
}

#events img {
    height: 60vh;
}

#events .carousel-caption {
    position: relative;
    padding-right: 30%;
}

#events .carousel-indicators {
    display: none;
}